@inherits LayoutComponentBase

<div class="page">
    @*<div class="sidebar">
        <NavMenu />
    </div>*@

    <div class="main">
        <div class="top-row px-4" style="justify-content:space-between">
            <h1>Smart City Portaal</h1>
            <AccessControl/>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
